<div class="card">
    <div class="card-body">
        <form action="">
            <div class="mb-2">
                <label class="form-label">
                    Nombre
                </label>
                <input type="text" [formControl]=name class="form-control" placeholder="Por favor ingrese su nombre">

                <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine">
                    Campo requerido
                </div>

            </div>

            <div class="mb-2">
                <label class="form-label">
                    Email
                </label>
                <input type="email" [formControl]=email class="form-control" placeholder="Por favor ingrese su email">
            </div>

                <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">
                    <span *ngIf="email.errors?.['required']"> <!--?. es para que si el campo no existe lo ignore-->
                        Campo requerido
                    </span>

                    <span *ngIf="email.errors?.['email']">
                        El email debe ser valido
                    </span>
                </div>

            <button class="btn btn-primary">
                Enviar
            </button>
        </form>
    </div>
</div>

<!--{{ name.value }}

<br>

{{ email.value }}

{{ email.errors | json }}-->
